API_TOKEN=example       # Put your telegram bot token here
ADMIN_CHAT_ID=example       # Put your telegram ID here to recieve important messages
WEBHOOK_HOST=0.0.0.0       # Put your VPS IP here
WEBHOOK_PORT=8443       # 443, 80, 88 or 8443 (port need to be 'open')
WEATHER_API_KEY=example       #Put your api.openweathermap.org API key here

!!!Copy this variables to .env file in project root directory. Make .env file if it doesn't exist.!!!
